<h1>
    Programmes</h1>
<div>

    <p>6mois-2ans toutes petite section (TPS)</p>
    <ul>
        <li>Un programme tres special avec extra surveillance pour les bébés</li>
    </ul>

    <p>3-4 ans petite section (PS)</p>
    <ul>
        <li>Club de coran</li>
        <li>Club de musique</li>
        <li>Club de peinture</li>
        <li>Club de théatre</li>
        <li>Des jeux éducatifs</li>

    </ul>

    <p>4-5 ans : Moyenne section(MS): </p>
    <p>Vos enfants apprennent les bases de langues arabe et frnacaise</p>
    <ul>
        <li>Atteliers de lecture et d'écriture</li>
        <li>des jeux éducatifs</li>
        <li>Sport</li>


    </ul>
</div>