<div class="container">
    <form [formGroup]="userForm" (ngSubmit)="change()">
        <input type="email" class="form-control mt-3" placeholder="email" formControlName="email">
        <input type="password" class="form-control mt-3" placeholder="new password" formControlName="password">
        <input type="password" class="form-control mt-3" placeholder="confirm password" formControlName="verifPassword">


        <button type="button" class="btn btn-outline-primary mt-3">changer</button>

    </form>
    <div class="text-center mt-3">

    </div>